<a href="https://colab.research.google.com/github/Rohdey/100-days-of-python/blob/main/functions_arguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def average(a =9,b=8):
  print("the average is ",(a+b)/2)

average(b=6)

the average is  7.5

In [6]:
def name(fname,mname,lname):
  print("hello",fname,mname,lname)

name(input("first name"),input("middle name"),input("last name"))

first namekarna
middle namekishor
last namegoyal
hello karna kishor goyal

In [7]:
#keyword arguments

def average(a =9,b=8):
  print("the average is ",(a+b)/2)

average(b=6,a=8) #can write in any order
# #In case we don't pass the arguments with a key = value syntax,
# then it is necessary to pass the arguments in the correct positional order and the number of arguments passed should
#match with actual function definition.

the average is  7.0

In [8]:
def average(a ,b, c=1):
  print("the average is ",(a+b+c)/2)

average(6, 8)

the average is  7.5

In [12]:
#variable length argument
def average(*numbers): #built in fn numbers
  sum = 0
  print(type(numbers))
  for i in numbers:
    sum = sum + i
  print("average is: ",sum/len(numbers))
average(5,7)

<class 'tuple'>
average is:  6.0

In [14]:
def name(**name):
  print(type(name))
  print("hello",name['fname'],
name["mname"],name["lname"])

name(mname="gupta",lname="karan",fname="sandeep")

<class 'dict'>
hello sandeep gupta karan

In [18]:
#return fn -The return statement is used to return the value of
#the expression back to the calling function.


def average(*numbers): #built in fn numbers
  sum = 0
  print(type(numbers))
  for i in numbers:
    sum = sum + i
  return sum/len(numbers)
c = average(5,7,8,9)
print(c)

<class 'tuple'>
7.25