<a href="https://colab.research.google.com/github/Rohdey/100-days-of-python/blob/main/sets_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
s1={1,2,5,6}
s2={3,6,7}
print(s1.union(s2))

{1, 2, 3, 5, 6, 7}

In [15]:
## here s1 and s2 are untouched
print(s1,s2)

{1, 2, 5, 6} {3, 6, 7}

In [16]:
##some time we want to make changes in s1 or s2 so the common values do come for eg.
s1.update(s2) ##means s1 ke andar woh values le aao joh s12 ke andar h
print(s1)

{1, 2, 3, 5, 6, 7}

In [17]:
cities = {"tokyo","berlin","delhi","madrid",}
cities2 = {"delhi","madrid","london","oslo"}
print(cities.intersection(cities2))
cities3 = cities.union(cities2)
print(cities3)

{'madrid', 'delhi'}
{'tokyo', 'oslo', 'madrid', 'delhi', 'london', 'berlin'}

In [18]:
if"tokyo" in cities:
    print("yes")
else:
    print("no")

yes

In [19]:
cities3=cities.symmetric_difference(cities2)
print(cities3)

{'tokyo', 'oslo', 'london', 'berlin'}

In [20]:
cities.intersection_update(cities2)
print(cities)  # Output: {'delhi', 'madrid'}

{'madrid', 'delhi'}

In [21]:
cities = {"tokyo", "berlin", "delhi", "madrid"}
cities2 = {"london", "oslo"}
print(cities.issuperset(cities2))
cities3 ={"tokyo","madrid","delhi"}
print(cities.issuperset(cities3))
print(cities3.issubset(cities))
cities.add("hellsinki")
print(cities)
cities.discard("delhi") ##discards doesnt throw error
print(cities)
cities.remove("berlin")
print(cities)
  # Output:

False
True
True
{'tokyo', 'madrid', 'delhi', 'hellsinki', 'berlin'}
{'tokyo', 'madrid', 'hellsinki', 'berlin'}
{'tokyo', 'madrid', 'hellsinki'}

In [22]:
item = cities.pop()
print(cities)
print(item)

{'madrid', 'hellsinki'}
tokyo

In [23]:
cities.clear()
print(cities) #its clear the values not deleting entire set

set()

In [24]:
del cities ##delets entire set
print(cities) ##as its deleted using del cities

NameError: name 'cities' is not defined

In [25]:
cities = {"tokyo", "berlin", "delhi", "madrid"}
cities2 = {"london", "oslo"}
cities.update(cities2)
print(cities)

{'berlin', 'tokyo', 'oslo', 'london', 'madrid', 'delhi'}